.formLogin {
    margin: auto;
    margin-top: 20px;
    background-color: rgb(231, 231, 231);
    width: 30%;
    border: 3px solid rgb(255, 255, 255);
    padding: 20px;
}

input, select, option {
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 12px;
}

#alertaSenhas {
    margin-left: 5px;
    font-size: 12px;
}